@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);



img{
  width: 300px;
}

/*ヘッダー*/
header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: #edece7;
  box-shadow: 7px 9px 22px #42424235;
}

.header__title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.header__inner {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  display: flex;
  flex: none;
  
}

.header__nav>*+* {
  margin-left: 60px;
}

.header__nav--item {
  font-size: 16px;
  color: #000;
}

.header__nav--item a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.header__nav--item a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.header__nav--item a:hover::after {
  transform: scale(1, 1);
}

footer{
  color: #fff;
  background-color: #2E2E2A;
  height: 360px;
}


/*========= レイアウトのためのCSS ===============*/

body {
  /*font-family: 'Noto Sans Japanese', sans-serif;*/
  margin: 0 auto;
  background-color: #F8F6FF;
}

main {
  z-index: 1;
}

.type {
  width: 12em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  animation: typing 0.5s steps(10),
    blink .5s steps(1) infinite alternate;
}
@keyframes typing {
  0% {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}

/*========= レイアウトのためのCSS ===============*/

section{
  margin-top: 120px;
  padding: 30px 0 30px;
}

.contents{
  margin: 0 auto;
  width: 1200px;
}

.panel{
  background: #fff;
  border-radius: 10px;
  box-shadow: 7px 9px 22px #bababa55;
  padding:30px;
  max-width: 980px;
  width: 100%;
  height: 320px;
  margin: 0 auto;
}

.top{
  height: 540px;
  padding: 100px 30px;
  background-color: #edece7;
  text-align: center;

}

.section__top--title{
  font-size: 48px;
  text-align: center;
  letter-spacing: 5px;
}

.section__top--img{
  margin: 0 auto;
  width: 600px;
}

.section__title{
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.section__subtitle{
  font-size: 18px;
  letter-spacing: 2px;
}

.section__textbox{
  padding: 0 40px;
  text-align: left;
} 

.service__list{
  list-style: none;
  padding: 0;
  margin: 10px;
}

.service__list--item{
  display: inline-block;
  margin: 30px;
}

/*flow*/
.flow__list{
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.flow__list--item{
  width: 250px;
  height: auto;
}

.flow__list--img{
  width: 100%;
}

.flow__list--process{
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 50px;
}

/*left right box*/

.explanation__textarea{
  display: flex;
  justify-content: space-between;
  height: 470px;
  margin-top: 100px;
}

.left{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 60px;
  width: 40%;
}

.right{
  position: relative;
  display: flex;
  align-items: center;
  padding: 60px;
  width: 40%;
  line-height: 2;
}

.explanation__panel{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 7px 9px 22px #bababa55;
  padding:30px;
  max-width: 980px;
  width: 100%;
  height: 320px;
  margin: 0 auto;
}

/*contact*/
.contact-panel{
  background: #fff;
  border-radius: 10px;
  box-shadow: 7px 9px 22px #bababa55;
  padding:30px;
  max-width: 980px;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}


/*wrap*/
.wrap{
  position:absolute;
  right: -600px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circle{
  background: linear-gradient(140deg,#B588F7, #1DE5E2);
  padding-top: 30%;
  width: 30%;
  animation-name: puyopuyo;
  animation-duration: 20.0s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes puyopuyo{  
  0%{
      border-radius: 73% 47% 64% 56%/65% 58% 62% 55%;
  }
  14%{
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28%{
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42%{
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56%{
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70%{
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84%{
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  100%{
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
}


.circle-1 {
  z-index: 1;
  position: absolute;
  width: 280px;
  height: 300px;
  left: 3%;
  mix-blend-mode: multiply;
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
}
.circle-2 {
  z-index: 1;
  position: absolute;
  width: 280px;
  height: 300px;
  left: 3%;
  mix-blend-mode: multiply;
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
}
.circle-3 {
  z-index: 1;
  position: absolute;
  width: 280px;
  height: 300px;
  left: 3%;
  mix-blend-mode: multiply;
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 3s infinite linear;
}

/* Animation */
@keyframes border-animation {
  to { transform: rotate(360deg); }
}


.blue{
  position: absolute;
  right: 20%;
}