@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


/*ヘッダー*/
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #010b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.title {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: bold;
}

.header__inner {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__navgroup {
  margin-left: auto;
  display: flex;
  flex: none;
}

.header__navgroup>*+* {
  margin-left: 60px;
}

.header__navitem {
  font-size: 16px;
  color: #fdfdfd;
}

.header__navitem a {
  color: #fdfdfd;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.header__navitem a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fdfdfd;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.header__navitem a:hover::after {
  transform: scale(1, 1);
}

/*========= レイアウトのためのCSS ===============*/

body {
  background: #f1f4f7;
  /*font-family: 'Noto Sans Japanese', sans-serif;*/
  margin: 0 auto;
}

main {
  background: #f9fbfc;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 200px;
}

.type {
  width: 12em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  animation: typing 0.5s steps(10),
    blink .5s steps(1) infinite alternate;
}

@keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}

/*========= レイアウトのためのCSS ===============*/

img {
  height: 400px;
}

.code {
  color: #0080c0;
}




.prof{
  width: 100%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 50px;
  }
  .prof .left{
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prof .right{
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prof img{
    max-width: 70%;
    max-height: 100%;
    border-radius: 25px;
  }
  
  .prof .text{
    text-align: left;
  }
  